.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .list {
    width: 90%;
    max-width: 1200px; 
    max-height: 85vh; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
    position: relative;
    padding-bottom: 70px;
  }

  .pagination-container {
    position: absolute; 
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f5f5f5;
    border-top: 1px solid #ddd; 
  
    .page-indicator {
      font-weight: bold;
    }
  }
  
  .user-card {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
  
    .user-initials {
      border-radius: 50%;
      background-color: #673ab7;
      color: white;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      font-size: 1.2em;
      font-weight: bold;
      flex-shrink: 0;
      flex-basis: 40px; /* added */
    }
  
    .user-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: calc(100% - 55px); /* added */
  
      h2 {
        margin: 0 0 5px 0;
      }
  
      p {
        margin: 0;
      }
    }
  }
  
