.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

::ng-deep .user-name h2 {
  margin: 0 !important;
}

::ng-deep .user-name h3 {
  margin: 0 !important;
}

.list {
  width: 90%;
  max-width: 1200px;
  max-height: 75vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  position: relative;
  &.loading {
    .content-container {
      visibility: hidden;
    }
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container {
  width: calc(90% - 40px);
  max-width: 1160px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f5f5f5;
  .page-indicator {
    font-weight: bold;
  }
}

.user-card {
  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  background-color: #fcfcfc;

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

.user-initials {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
  margin-bottom: 0;
}

.user-name {
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable-tile {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 40px;
  width: 100%;
}

.user-image {
  border-radius: 50%;
  width: 80px;
  height: 80x; 
  object-fit: cover;
}

@media (max-width: 990px) {
  .user-image {
    width: 50px;
    height: 50px; 
    object-fit: cover;
  }
  .clickable-tile {
    margin-left: 5px;
  }

  .user-name h2 {
    font-size: 18px; /* Example size */
  }
}


@media (max-width: 600px) {
  .clickable-tile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .user-initials {
    margin: 0;
  }
  .user-name {
    text-align: center;
  }
  .user-image {
    width: 50px;
    height: 50px; 
    object-fit: cover;
  }

  .clickable-tile {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0px;
    width: 100%;
  }
}
