<section
  class="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlexFill
>
  <article class="list" [class.loading]="isLoading">
    <aside *ngIf="isLoading" class="loading-overlay">
      <mat-spinner></mat-spinner>
    </aside>

    <section class="content-container">
      <mat-grid-list
        cols="2"
        rowHeight="3:1"
        gutterSize="12px"
        [cols]="(isXSmall | async) ? 1 : (isSmall | async) ? 1 : 2"
      >
        <mat-grid-tile
          *ngFor="let user of users"
          class="user-card"
          (click)="viewDetails(user)"
        >
          <div
            class="clickable-tile"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="20px"
          >
            <figure class="user-initials">
              {{ user.name.first[0] }}{{ user.name.last[0] }}
            </figure>

            <header class="user-name">
              <h2>{{ user.name.first }} {{ user.name.last }}</h2>
            </header>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
  </article>

  <nav
    class="pagination-container"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <button
      mat-flat-button
      color="primary"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>

    <span class="page-indicator">{{ currentPage }}</span>
    <button
      mat-flat-button
      color="primary"
      (click)="nextPage()"
      [disabled]="currentPage === 5"
    >
      Next
    </button>
  </nav>
</section>
