<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="list" [class.loading]="isLoading">
        <div *ngIf="isLoading" class="loading-overlay">
            <mat-spinner></mat-spinner>
        </div>
        <div class="content-container">
            <mat-grid-list cols="2" rowHeight="3:1" gutterSize="12px" [cols]="(isXSmall | async) ? 1 : (isSmall | async) ? 1 : 2">
                <mat-grid-tile *ngFor="let user of users" class="user-card" (click)="viewDetails(user)">
                    <div  class="clickable-tile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div class="user-initials">
                            {{ user.name.first[0] }}{{ user.name.last[0] }}
                        </div>
                        <div class="user-name">
                            <h2>{{ user.name.first }} {{ user.name.last }}</h2>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card>
    <div class="pagination-container" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button color="primary" (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
            <div class="page-indicator">{{ currentPage }}</div>
        <button mat-flat-button color="primary" (click)="nextPage()">Next</button>
    </div>
</div>