<div
  class="container"
  fxLayout="column"
  fxLayoutGap="20px"
  fxLayoutAlign="center center"
  fxFlexFill
>
  <button mat-button (click)="goBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card *ngIf="user" class="user-card">
    <img
      mat-card-image
      [src]="user.picture.large"
      alt="Photo of {{ user.name.first }}"
      loading="lazy"
      class="user-image"
    />

    <mat-card-header>
      <mat-card-title>
        {{ user.name.first }} {{ user.name.last }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" class="info-row">
        <mat-icon>phone</mat-icon>
        <span>{{ user.phone }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="info-row">
        <mat-icon>email</mat-icon>
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="info-row">
        <mat-icon>place</mat-icon>
        <span
          >{{ user.location.city }}, {{ user.location.state }},
          {{ user.location.country }}</span
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
